* {
    font-family: Helvetica;
    margin: 0 px;
    box-sizing: border-box;
    /* display: grid;
    grid-template-columns: 1fr 1fr; */

}

.proj-title h2 {
    color: lightseagreen;
    text-align: center;
}

.proj-title p {
    text-align: center;
}

/* nav styles */
.nav {
    display: flex;
    justify-content: space-between;
    padding: 38px;
    text-decoration: none;

}

.left {
    display: flex;

}

.brand {
    text-align: right;
}

.nav>.left>div {
    margin-right: 20px;
    font-size: 15px;
    text-transform: uppercase;
}

.nav-link {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;

}

.nav-link a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link:hover {
    border-bottom: 1px solid black;
}

.nav-link a:hover {
    color: black;
}

.active {
    border-bottom: 1px solid black;
}

.active a {
    color: black !important;
}

.subtitle a {
    text-decoration: none;
    color: lightseagreen;
}

/* Create three equal columns that floats next to each other */
.column {

    float: left;
    width: 33.33%;

    padding: 10px;
    height: 400px;
    /* Should be removed. Only for demonstration */
}


footer {
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: sienna;
    text-align: center;
    text-decoration: none;
}